body {
    background-color: #f8f9fa;
}
a {
    color: inherit;
}
html
{
    scroll-behavior: smooth;
}


/* Navbar */
li {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0% 1% 0% 1%;
}

.li1 {
    margin-left: 190%;
}

#name1 {
    color: rgb(80, 116, 245);
    font-family: 'Kaushan Script', cursive;
    /* font-family:; */
}

/* Introduction */

.introduction {
    margin-top: 8%;
}

.myworld {
    font-family: 'Times New Roman', Times, serif;
}

.position {
    font-size: xxx-large;
    font-weight: bolder;
    margin-bottom: 15%;
}

#name2 {
    color: rgb(80, 116, 245);;
    font-family: 'Kaushan Script', cursive;
}

.description {
    margin-top: 2%;
    /* width: 50%; */
    display: flex;
    flex-direction: row;
}

#description_text {
    margin-top: -10%;
}

.findme {
    font-family: 'Times New Roman', Times, serif;
    margin-top: -8%;
}

#myexpertise {
    margin-left: 18%;
}

i {
    margin-top: 1%;
    cursor: pointer;
    font-size: 270%;
}

.fb {
    margin: 1% 1% 0% -2.5%;
}

.insta {
    margin: 0% 1% 0% 0%;
}

.ln {
    margin: 0%;
}

.react {
    margin: 0% 1% 0% 15%;
}

.node {
    margin: 0% 1% 0% 0%;
}

.js {
    margin: 0%;
}

#myimage {
    width: 50%;
    margin: -25% 0% 0% 5%;
    border-radius: 3%;

    height: 500px;
}

/* Features  */
.features {
    margin: 10% 7% 0% 7%;
}

.features_heading {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(80, 116, 245);;
}

.whatido {
    font-size: xxx-large;
    font-weight: bolder;
}

.myskills {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-gap: 7%;
}
.myskillblock{
    box-shadow: 0px 0px 15px 0px rgb(184, 183, 183);
    cursor: pointer;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:5%;
    border-radius: 3%;
}
.myskillblock:hover{
    background-color: rgb(254, 52, 86);
    /* background-color:black; */
    color: white;
}

.myskillheading{
    margin-top: 3%;
}

/* My projects  */
.projects{
    margin: 10% 7% 0% 7%;
}
.myprojects {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-gap: 7%;
}
.project_description{
    font-size: 105%;
}
.projects_heading{
    text-align: center;
    font-size: 400%;
    font-family: 'Rubik', sans-serif;
}
.myprojectblock:hover{
    /* background-color:black; */
    border: black 1px solid;
    /* color: white; */
}
.myprojectblock{
    box-shadow: 0px 0px 15px 0px rgb(184, 183, 183);
    cursor: pointer;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* padding:5%; */
    /* border-radius: 3%; */
    text-align: center;
    /* height: 500px; */
}
.project_images{
    height: 200px;
    width: 400px;
    /* margin-right: 15px; */
}

/* resume */
.resume{
    margin:10% 7% 0% 7% ;
}
.resume_heading{
    text-align: center;
    font-size: 400%;
    font-family: 'Rubik', sans-serif;
}
.development_skills{
    margin-top: 5%;
}



@keyframes growProgressBar {
    0%, 33% { --pgPercentage: 0; }
    100% { --pgPercentage: var(--value); }
  }
  
  @property --pgPercentage {
    syntax: '<number>';
    inherits: false;
    initial-value: 0;
  }
  
  div[role="progressbar"] {
    --size: 12rem;
    /* --fg: #369; */
    --fg: #0b5ed7;
    --bg: #def;
    --pgPercentage: var(--value);
    animation: growProgressBar 3s 1 forwards;
    width: var(--size);
    height: 125px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    background: 
      radial-gradient(closest-side, white 80%, transparent 0 99.9%, white 0),
      conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0)
      ;
    font-family: Helvetica, Arial, sans-serif;
    font-size: calc(var(--size) / 5);
    color: var(--fg);
  }
  
  div[role="progressbar"]::before {
    counter-reset: percentage var(--value);
    content: counter(percentage) '%';
  }
  .progressbars1{
    display: flex;
    flex-direction: row;
    gap: 5%;
  }
  .progressbars2{
    display: flex;
    flex-direction: row;
    gap: 5%;
  }
  .progressbarnames{
    font-size: 30px;
    text-align: center;
  }




/* CONTACT */
.contact_firstheading{
    text-align: center;
    color: red;
    margin-top: 7%;
}
.contact_secondheading{
    text-align: center;
    font-size: 450%;
    font-family: 'Rubik', sans-serif;
}
.contact_image{
    margin:4% 0% 0% 4%;
    height: 300%;
    width: 92%;
}
.contact_details{
    margin: 2% 18% 0% 18%;
    /* border: 2px solid black; */
    background-color: #ecf0f3;
    border-radius: 2%;
    box-shadow: 0px 0px 15px 0px rgb(184, 183, 183);
    padding: 1.5% 0%;

}
.contact_name{
    font-family: 'Rubik', sans-serif;
}
.details{
    margin:3% 0% 0% 4%;
}
.footer{
    background-color: black;
    color: white;
    text-align: center;
    height: 30px;
    margin-top:5% ;
}





@media only screen and (max-width: 1000px) {
    .findme {
        margin-top: 10%;
    }

    .introduction {
        margin-top: 25%;
    }

    .icons {
        margin-left: -6.5%;
    }
    .myskills{
        display: flex;
        flex-direction: column;
    }
    .myskillblock{
        margin-bottom: 10%;
    }
    .myprojects{
        display: flex;
        flex-direction: column;
    }
    .project_images{
        height: 200px;
        width: 300px;
        /* margin-right: 15px; */
    }
    .resume_heading{
        font-size: 300%;
        margin-bottom: 10%;
    }
    .projects_heading{
        font-size: 300%;
        /* margin-bottom: 10%; */
    }
    .contact_secondheading{
        font-size: 250%;
    }
    .myprojectblock{
        margin-bottom: 10%;
    }
    .dev_skills_heading{
        text-align: center;
    }
    .progressbars1{
        display: flex;
        flex-direction: column;
        gap: 5%;
        margin-left: 20%;
      }
      .progressbars2{
        display: flex;
        flex-direction: column;
        gap: 5%;
        margin-left: 20%;
      }
      .progressbarnames{
        margin-right: 25%;
      }
      .development_skills{
        margin-top: 10%;
      }
    #myimage{
        height:300px ;
        margin-top: 1%;

    }
    
}